.navBar__box
  .logo__box
    .logo__link
      =link_to "ここにアイコンが入ります", root_path
  .search__box
    = form_tag('/reviews/search', method: :get) do
      %input.searchBar{:name => "keyword", :placeholder => "検索", :type => "text", :value => ""}/
  - if user_signed_in?
    .loggedOut__box
      = link_to "ログアウト", destroy_user_session_path, class: "loggedOut--BTN"
  - else
    .loggedIn__box
      = link_to "ログイン/サインイン", user_session_path, class: "loggedIn--BTN"
