.navBar__box {
  display: flex;
  align-items: center;
  background-color: $navDGray;
  width: 100%;
  padding: 20px;
  z-index: 1002;
  position: fixed;
    top: 0;
}

.logo__box{
flex:1;
margin-right: 20px;
}


// .icon__box {

// }

.search__box {
// width: 100%;
flex:1;
}

.searchBar {
  width: 50%;
}

.loggedOut__box {
  background-color: black;
  padding: 5px 10px;
  border-radius: 30px;

}

.loggedOut--BTN{
  font-weight: bold;
  color: $btnTextGreen;
  text-decoration: none;
}

.loggedIn--BTN {
  font-weight: bold;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 20px;

}


.loggedIn__box {
flex: 1;
}